# RewriteEngine On

# # Remove .php extension from URL
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^(.*)$ $1.php [L]

# # Redirect users trying to access .php files directly (optional)
# RewriteCond %{THE_REQUEST} \s(.+?)\.php[\s?] [NC]
# RewriteRule ^ %1 [R=301,L]


# <FilesMatch "\.(php|html|txt)">
#   Order Allow,Deny
#   Deny from all
# </FilesMatch>
